/* *{
    color: #000;
    margin: 0;
    padding: 0;
} */

.App {
    text-align: center;
  }

  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  

.fb-bg{
    margin: 100px auto 120px !important;
}
body{
    color: #000;
    font-family: 'Ubuntu', sans-serif !important;
}

html{
    scroll-behavior: smooth;
    
}
.color{
    color:white;
}
.card-title{
    text-align: center;
    color: black;
}
h1{
    color:#071a46;   
}
h2,h4,h5,h6{
    color:#071a46;   
}
.color-blue{
    color:#071a46;
}
#h1{
    
    margin-top: 50px;
    margin-bottom: 50px;
}
#navbar{
    backdrop-filter: saturate(250%) blur(20px)!important;
    background-color: #212529!important;
    min-height: 60px;
}
.display{
display: flex;
justify-self: center;
align-items: center;
flex-direction: column;
}
.div-container{
   height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    z-index: -1;
}
#downloadbtn{
    margin-top: 0px;
    margin-right: 100px;
}
.zeroDiv{
    display: none;
}
.firstDiv{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: auto 50px;
    padding-left: 0px;
}
.secondDiv{
    height: auto;
}
.proj-img{
    height: 215px;
    width: 5px;
}
.center{
    margin: 20px;
    text-align: center;
}
.MoreAbout{
    width:50vw;
    margin: 10px auto;
}
.moreAbout{
    height: 500px;
}
.btn{
    margin-top: 10px;
    align-items: center;
}
.readmore{
    margin-top: 0px;
}
.btn-parent{
    display: flex;
     justify-content: center; 
     align-items: center;
}
#card-conainer{
/* border: 5px solid rgb(203, 223, 25); */
width: 70vw;
height: auto;
margin: 10px auto;
}
#card-conainer2{
margin: 10px auto;
}

.hiddenProjects{
    background-color: white;
    height: 50px;
    z-index: 3;
    box-shadow: 0px -60px 299px 302px white;
}
.card{
    z-index: -1;
}
.show-proj{
    display: none;
}
.cards{
    transition: transform .6s;
    z-index: 4;
    height: 100%;
}

#calCard,#noteCard{
    transition: transform .6s;
    height: 100%;
}
.form-container{
   margin-top:50px; 
   margin-bottom: 50px;
   align-items: center;
   border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    background: #02042b;
    box-shadow: rgb(0 0 0 / 48%) 12px 6px 20px;
}

.form-label{
    color: white !important;
}
.form-control{
    color: white !important;
    background-color: #262542 !important;
    border: 1px solid #262542 !important;
    outline: none !important;
    box-shadow: none !important;
}
#calCard:hover,#noteCard:hover,.cards:hover{
    margin: 0 auto;
    z-index: 4;
    transform: scale(1.06);
}


#moreProj{
    height: 120px;
    margin-bottom: 10px;
}
#contactmeid{
    margin-top: 30px;
}


@media screen and (min-width:1000px){
    .coding-profile-row{
        margin-left: 38px;
        width: 375px;
    }
}
@media screen and (max-width:1000px){
    .fb-bg{
        margin: 70px auto 130px !important;
    }
    .infopara{
        text-align: center !important;
    }
    .div-container{
        margin: 0px;
        flex-direction: column;
    }
    #downloadbtn{
        margin: auto;
    }
    .Div{
        margin-top: 50px;
        margin-bottom: 50px;
        height: 300px;
        width: 350px;}
    .firstDiv{
        text-align: center;
        padding-left: 10px;
        padding-top: 30px;
        margin: 0px;

        width: 100%;
    }
    .secondDiv{
        display: none;
    }
    .MoreAbout{

        text-align: justify;
        width: 80vw;
    }
    .MoreAbout-div{
        height: 1200px;
    }
    #card-conainer{
        width: 90vw;
        margin: 10px auto;
        height: auto;
        }
    #card-conainer2{
        width: 90vw;
        margin: 10px auto;
        height: 1200px;
        }
    #covidtracker{
        z-index: -1;
    }
   .center{
       margin: 10px;
   }
   #calCard,#noteCard,.cards{
       /* display: none; */
   }
   .hiddenProjects{
       width: 100vw;
       height: 50px;
   }
   .coding-img{
    width: 150px;
    height: auto;
   }
   .cf-img,.gfg-img{
    width: 160px;
   }
.myproject{
    display: none;
}
.btn-light{
    margin: auto 100px;
}

.readmore{
    font-size: 10px;
}
#moreProj{
    margin-top: -50px;
}
.form-container{
    border-radius: none;
    box-shadow: none;
    /* background: none; */
    margin-top:50px; 
 
}
form{
    padding: 10px;
    border-radius: 10px;
    /* background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */

    border: 1px solid ;
}
img{
    width: 400px;
    height: 400px;
}
.para{
    font-size: 15px !important;
}
.details{
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
}


.small-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.para{
    font-size: 20px;
    /* letter-spacing: 1px; */
    line-height: 30px;
    font-weight:300;
}
.overflowImg{
    width: 30px;
    height: 30px;
}
.overflowImg2{
    width: 33px;
    height: 33px;
}
@media screen and (max-width:400px){
img{
    width: 300px;
    height: 300px;
}
.coding-img{
    width: 25vw;
    height: auto;
   }
   .cf-img,.gfg-img{
    width: 30vw;
   }
}
@media screen and (min-width:800px){
    .carousel-img{
        width: 50vw !important;
        height : auto !important;
    }
    .achive-par{
        height: 600px !important;
    }
    .lable{
        font-size: 20px !important;
    }

    .slide{
        width: 60% !important;
        margin: auto;
    }
}
@media screen and (max-width:930px){
.myphoto{
    width: 300px;
    height: 300px;
}
}
#instagram:hover{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;

}
#whatsapp:hover{
    background-color: #25D366;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;   
}
#github:hover{
    background-color: #6e6e6e;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;   
}

#linkedin:hover{
    background-color: #2867B2;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;   
}
.pointer{
cursor: pointer;
}
.background{
    height: auto !important;
}


.bg-blue{
    background-color: rgb(153, 227, 252);
}

.achive-par{
    height: 350px;
}

.carousel-img{
    width: 90vw;
    height: 200px;
    border-radius: 10px;
    background-color: lightblue;
}

.lable{
    font-size: 14px;
}

.carousel-inner{
    background-color: linen;
    border-radius: 10px
}
